[package]
name = "scc"
description = "High performance containers and utilities for concurrent and asynchronous programming"
documentation = "https://docs.rs/scc"
version = "1.8.1"
authors = ["wvwwvwwv <wvwwvwwv@me.com>"]
edition = "2021"
readme = "README.md"
repository = "https://github.com/wvwwvwwv/scalable-concurrent-containers/"
license = "Apache-2.0"
categories = ["asynchronous", "caching", "concurrency", "data-structures", "memory-management"]
keywords = ["async", "cache", "concurrent", "hashmap", "tree"]

[dependencies]
serde = { version = "1.0", optional = true }

[dev-dependencies]
criterion = "0.5"
futures = "0.3"
loom = "0.5"
proptest = "1.2"
rand = "0.8"
serde_test = "1.0"
static_assertions = "1.1"
tokio = { version = "1.2", features = ["full"] }

[[bench]]
name = "bag"
harness = false

[[bench]]
name = "ebr"
harness = false

[[bench]]
name = "hash_map"
harness = false

[[bench]]
name = "hash_index"
harness = false

[[bench]]
name = "hash_cache"
harness = false

[[bench]]
name = "tree_index"
harness = false
